<h1>Devnull / Make Admin</h1>

<p>Please select a player to be granted admin rights on clan
<em>[% clan %]</em>:</p>

<p>
[% IF eligible.size %]
  [% FOR p IN eligible %]
    <a href="make_admin/[% p %]?rt=/make_admin">[% p %]</a>
  [% END %]
[% ELSE %]
  All players are already admins
[% END %]
</p>

<p><a href="player">Go back</a></p>