<h1>Player page for: [% logname %]</h1>

<ul>

[% IF clan %] [%# === START OF CLAN MEMBER SECTION ======================== %]

  [%# ---------------------------------------------------------------------
      --- clan membership information / admin status information ----------
      --------------------------------------------------------------------- %]

  <li>You are
  [% IF admin %]
    [% IF sole_admin %]
      the sole
    [% END %]
    admin
  [% ELSE %]
    member
  [% END %]
  of clan <b>[% clan %]</b></li>

  [%# ---------------------------------------------------------------------
      --- clan leave ------------------------------------------------------
      --------------------------------------------------------------------- %]

  [% IF !admin || can_leave %]
  <li><a href="leave_clan">Leave your clan</a></li>
  [% END %]

  [% IF admin %] [%# === START OF ADMIN ONLY SECTION ====================== %]

  [%# ---------------------------------------------------------------------
      --- go to clan mgmt page --------------------------------------------
      --------------------------------------------------------------------- %]

  <li><a href="/clan/[% clan %]">Manage your clan</a></li>

  [%# ---------------------------------------------------------------------
      --- list of given invitations ---------------------------------------
      --------------------------------------------------------------------- %]

  [% IF invinfo.invitees.size %]
  <li>You have invited following players
  [ <a href="revoke">Revoke all invites</a> ]:
    <ul>
      [% FOR p IN invinfo.invitees %]
        <li>[% p %] [ <a href="revoke/[% p %]">Revoke</a> ]</li>
      [% END %]
    </ul>
  </li>
  [% END %]

  [% END %] [%# === END OF ADMIN ONLY SECTION ============================= %]

[% ELSE %] [%# === START OF CLAN NON-MEMBER SECTION ======================= %]

  <li>You are not member of any clan</li>
  <li><a href="create_clan">Start a new clan</a></li>

[% END %] [%# === END OF CLAN-NON MEMBER SECTION ========================== %]


  [%# ---------------------------------------------------------------------
      --- list of pending invitations -------------------------------------
      --------------------------------------------------------------------- %]

[% IF invinfo.invites.size %]
<li>You have following waiting invitations:
  <ul>
    [% FOR p IN invinfo.invites %]
      <li>[% p.1 %] (from [% p.0 %])
      [ [% IF !clan %]<a href="accept/[% p.0 %]">Accept</a> |[% END%]
      <a href="decline/[% p.0 %]">Decline</a> ]</li>
    [% END %]
      <li><a href="decline">Decline all invitations</a></li>
  </ul>
</li>
[% END %]

  [%# ---------------------------------------------------------------------
      --- return link -----------------------------------------------------
      --------------------------------------------------------------------- %]

<li><a href="/">Go Back</a></li>

</ul>
