<!doctype html>

<html>

<head>
  <title>[% title %]</title>
  <link rel="stylesheet" href="../main.css">
  <link rel="stylesheet" href="css/clanmgmt.css">
</head>

<body>
[% content %]
</body>

</html>
