/*===========================================================================*/
/*=== CLAN MANAGEMENT =======================================================*/
/*===========================================================================*/

/* please note that the overarching main web css is loaded too, this is not
   stand-alone style sheet */

/*--- body ----------------------------------------------------------------*/

body.clanmgmt {
}

/*--- main page heading ---------------------------------------------------*/

h1.cmgmt {
  text-align: center;
}

/*--------------------------------------------------------------------------*/
/*--- FRONT PAGE -----------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*--- this holds the front page for new arrivals ---------------------------

the page is divided to left and right divs that hold information about the
website and login form respectively */

div.front {
  display: flex;
  justify-content: center;
}

/*--- left and right content pane ------------------------------------------*/

div.idxleft {
  margin: 2em;
  width: 30em;
}

div.idxleft a {
  color: #59f;
}

div.idxleft a:hover {
  color: #fd0;
}

div.idxright {
  margin: 2em;
  width: 30em;
}

/*--- form text input ------------------------------------------------------*/

input {
  font-family: inherit;
  font-size: 166%;
  border: 2pt solid #888;
  padding: 0.3em;
  margin: 0.3em 0;
}

input:focus {
  border: 2pt solid #000;
}

input:required {
  outline: none;
  box-shadow: none;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #888;
  font-size: 100%;
}

/*--- form button ----------------------------------------------------------*/

button {
  color: #888;
  font-family: inherit;
  font-weight: bold;
  font-size: 133%;
  border: none;
  text-transform: uppercase;
  padding: 0.3em 0.5em;
  margin: 1em 0;
  margin-right: 0.5em;
}

button:hover {
  color: #000;
  cursor: pointer;
}

/*--- info pane ------------------------------------------------------------

this is the left side box containing explanatory info for the newly
arrived users */

div.info {
  color: #f2f5ff;
  font-size: 100%;
  font-weight: 400;
  text-align: center;
}

div.info p {
  text-align: right;
  margin-top: 0;
}

span.infohlt {
  color: #eb0;
  font-size: 133%;
  text-transform: uppercase;
  margin-right: 0.5em;
  letter-spacing: 0.05em;
}

span.infosub1 {
  color: #ccc;
}

/*--- error message on usuccessful login -----------------------------------*/

p.err {
  margin: 0;
  color: red;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 133%;
  letter-spacing: 0.1em;
}

p.errexplain {
  margin: 0;
  color: #888;
}

span.errmsg {
  color: red;
}

/*--------------------------------------------------------------------------*/
/*--- GENERIC PAGE ELEMENTS ------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*--- button-like link ------------------------------------------------------

links (A tags) that look exactly like form buttons defined above; these are
used when desired action is invoked by using GET request */

a.button {
  color: #888;
  font-family: inherit;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  padding: 0.3em 0.5em;
  margin: 1em 0;
  margin-right: 0.5em;
  background-color: rgb(240, 240, 240);
}

a.btnsmall {
  font-size: 66%;
}

a.button:hover {
  text-decoration: none;
  color: #000;
}

/* paragraph with extra space below */

p.spaceafter {
  margin-bottom: 1em;
}

/*--------------------------------------------------------------------------*/
/*--- MAIN PAGE / FRONT FOR LOGGED IN USERS --------------------------------*/
/*--------------------------------------------------------------------------*/

/*--- player info -----------------------------------------------------------

this is the index page of the clan management app that is show when
user is logged in */

span.plrhilite {
  color: #eb0;
  text-transform: uppercase;
  margin: 0 0.2em;
}

span.adminflag {
  font-size: 66%;
}

/*--- table ---------------------------------------------------------------*/

tr.clanmgmt {
  vertical-align: baseline;
  font-size: 133%;
  font-weight: 400;
  color: #888;
  border-bottom: 1px solid #eee;
}

tr.clanmember {
  vertical-align: baseline;
  font-weight: 400;
  color: #888;
}

tr.clanmember td {
  padding: 0;
  padding-right: 1em;
}

/*--------------------------------------------------------------------------*/
/*--- INVITE PLAYER --------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* invite search result element */

div.invsrc {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  width: 8em;
  background: #eee;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.2em;
}

/*--- OLD DEVNULL CSS BELOW THIS LINE -------------------------------------*/




/*--- login info ------------------------------------------------------------

this is the message that informs the user about his login status */

section.loginfo {
  text-align: center;
  font-size: 100%;
  margin: 1em;
}

section.loginfo div {
  color: #0a0;
  font-size: 133%;
}

section.loginfo a.button {
  position: relative;
  top: -0.2em;
  font-size: 66%;
  margin-left: 1em;
}

/*--- invites */

table.invites {
  margin: 0 auto;
}

table.invites td {
  border: none;
  text-align: left;
}

table.invites td:first-child {
  border: none;
  font-size: 133%;
}
